<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Esercizio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/app.css">
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    
    <div id="app">
      <section>
        <div class="container">
          <div class="card mt-5 w-50 mx-auto">
            <div class="card-header text-center bg-danger">
              <h2>To Do List</h2>
            </div>
            <div class="card-body">
              <div class="row px-4 pt-3 align-items-center">
                <div class="col-9">
                  <input type="text" placeholder="Aggiungi un elemento alla lista" class="w-100" v-model="newItemText">
                </div>
                <div class="col-3">
                  <button class="btn btn-secondary" @click="addNewItem()">Aggiungi</button>
                </div>
              </div>

              <ul class="to-do-list">
                <li v-for="(item, i) in toDoList" class="d-flex justify-content-between align-items-center my-3 border-bottom">
                  <span @click="item.done = !item.done" :class="(item.done === true) ? 'text-decoration-line-through' : ''">{{ item.text }}</span>
                  <button class="btn btn-danger mb-2" @click="deleteItem(i)" > X </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="./js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4411155b30.js" crossorigin="anonymous"></script>
  </body>
</html>